In [1]:
from tetra_analysis.ec_search.analysis import Tetra
import tetra_analysis.ec_search.lightning as light

In [ ]:
pan = Tetra(2,['02'])

In [ ]:
pan.loop_days('2018_04_01',30)

In [ ]:
pan.loop_days2('2018_04_01',30)

In [2]:
lsu = Tetra(1,['01'])

In [3]:
lsu.loop_days2('2018_05_23',1,.002,20)

2018_05_23 8

In [11]:
ts = lsu.get_ts(23,5,2018)
counts,bin_mid=lsu.hist(.002,ts)
lsu.sig_search(counts,20,'2018_05_23')
print lsu.trigs

2018_05_23 8
[ 38338.36   38439.598  38454.152  38485.284  38624.584  38896.42   38910.87
  39350.65 ]

In [9]:
lsu1 = Tetra(1,['01'])
lsu1.loop_days2('2018_04_01',60)

2018_04_08 1
2018_04_13 1
2018_04_23 1
2018_05_11 2
2018_05_12 1
2018_05_14 1
2018_05_15 75
2018_05_16 144
2018_05_17 1
2018_05_18 2
2018_05_19 1
2018_05_23 8
2018_05_24 1
2018_05_26 804
2018_05_27 2
2018_05_28 65

In [10]:
lsu2 = Tetra(1,['02'])
lsu2.loop_days2('2018_04_01',60)

2018_04_13 1
2018_04_16 2
2018_05_11 2
2018_05_12 1
2018_05_13 1
2018_05_14 2
2018_05_17 58
2018_05_20 1
2018_05_22 2

In [11]:
pr2 = Tetra(3,['02'])
pr2.loop_days2('2018_04_01',60)

2018_04_01 954
2018_04_02 6214
2018_04_06 1859
2018_04_09 1219
2018_04_11 5288
2018_04_13 880
2018_05_22 1

In [12]:
prbox = ['01','02','03','04','05','06','07','08']
for x in prbox:
    pr = Tetra(3,[x])
    print x
    pr.loop_days2('2018_05_11',20)

01
2018_05_30 13
02
2018_05_22 1
03
04
05
06
2018_05_24 3
2018_05_28 1
07
2018_05_20 1
08

In [11]:
panbox = ['03','04','05']
for x in panbox:
    pan = Tetra(2,[x])
    print x
    pan.loop_days2('2018_05_11',20,.002,16)

03
2018_05_11 3
2018_05_12 11
2018_05_13 3
2018_05_16 9
2018_05_17 5
2018_05_18 3
2018_05_19 9
2018_05_20 8
2018_05_21 10
2018_05_22 8
2018_05_23 10
2018_05_24 4
2018_05_25 13
2018_05_26 2
2018_05_27 14
2018_05_28 10
2018_05_29 13
2018_05_30 7
04
2018_05_11 7
2018_05_12 14
2018_05_13 4
2018_05_14 20
2018_05_15 11
2018_05_16 11
2018_05_17 17
2018_05_18 14
2018_05_19 7
2018_05_20 14
2018_05_21 8
2018_05_22 13
2018_05_23 12
2018_05_24 18
2018_05_25 11
2018_05_26 8
2018_05_27 21
2018_05_28 17
2018_05_29 14
2018_05_30 13
05
2018_05_20 8
2018_05_21 2
2018_05_22 3
2018_05_23 6
2018_05_24 3
2018_05_25 1
2018_05_26 2
2018_05_27 3
2018_05_28 6

In [7]:
panbox = ['03','04','05']
for x in panbox:
    pan = Tetra(2,[x])
    print x
    pan.loop_days('2018_05_11',17,.002,10,5,'wwlln')

03
04
05
51902.156 on 2018_05_26
1 lightning strikes within 5 sec of event
2.798274 sec apart 5.750 kms away
5.750 kms away 2.798274 sec apart

In [8]:
pan2 = Tetra(2,['02'])
pan2.loop_days('2018_04_01',30,.002,20,5,'wwlln')

73782.408 on 2018_04_22
1 lightning strikes within 5 sec of event
1.000605 sec apart 3.387 kms away
3.387 kms away 1.000605 sec apart

66301.898 on 2018_04_26
1 lightning strikes within 5 sec of event
1.178690 sec apart 0.447 kms away
0.447 kms away 1.178690 sec apart

66302.076 on 2018_04_26
1 lightning strikes within 5 sec of event
1.000690 sec apart 0.447 kms away
0.447 kms away 1.000690 sec apart

66302.08 on 2018_04_26
1 lightning strikes within 5 sec of event
0.996690 sec apart 0.447 kms away
0.447 kms away 0.996690 sec apart

66302.082 on 2018_04_26
1 lightning strikes within 5 sec of event
0.994690 sec apart 0.447 kms away
0.447 kms away 0.994690 sec apart

66302.258 on 2018_04_26
1 lightning strikes within 5 sec of event
0.818690 sec apart 0.447 kms away
0.447 kms away 0.818690 sec apart

68315.21 on 2018_04_26
4 lightning strikes within 5 sec of event
1.001152 sec apart 5.883 kms away
4.551 kms away 1.373256 sec apart

68315.412 on 2018_04_26
4 lightning strikes within 5 sec of event
0.799152 sec apart 5.883 kms away
4.551 kms away 1.171256 sec apart